
#header{
    background-color: orangered;
    margin: 10%;
}
nav ul{
       box-sizing: border-box;
       padding: 0;
       list-style-type: none;
       width: 100;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
}
 nav ul li a {
       text-decoration: none;
       color: white;
 }
 nav ul li a :hover{
           cursor: pointer;
           color: violet;
           border-bottom: 4px  solid black;
 }
ul{color: blue;}
